p{
    background-color: rgb(62, 62, 134);
}

h1, h2, h3, h4, h5,  h6{
    text-align: center;
}

body{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;


}

#Tipos{
    background-color: blue;
    border-radius: 15px;
    list-style-position: inside;
    text-align: left;
    justify-content: center ;

    display: flex; /* Ativa o Flexbox na lista */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; 

}

